html {min-height: 100%; position: relative;}
body {height: 100%; }


@media (max-width: 991px) {
	#sidebar {
		position: static;
		width: 100%;
	}
	#sidebar a.logo {
		float: left;
		padding: 15px;
		height: 64px;
		border-bottom: 15px solid #f99929;
	} 
	#sidebar a.logo img {
		width: 80px;
		height: 50px;
	}
	#sidebar .your-period {
		display: none;
	}
	
	#content {
		padding: 20px;
	}	

	.navbar-collapse {
		background: #21201e;
		border-top: 0;
	}
	
}


@media (min-width: 992px) {
	
	#content {
		margin-left: 240px;
		padding: 10px 30px 30px 30px;
	}
	
	#sidebar {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 240px;
		overflow: hidden;
	} 
	#sidebar a.logo {
		padding: 40px;
	} 
	#sidebar a.logo img {
		width: 160px;
		height: 100px;
	}

}